.App.dark {
    --bg-color: #1e131dfb;
    --inverted-bg-color: #ffffa4;
    --primary-color: #ff43aa;
    --secondary-color: #a3d6ff;
    --inverted-primary-color: #f47ecc;
    --inverted-secondary-color: #974cff;
}