.App.light {
 --bg-color: #ffffa4;
 --inverted-bg-color: #1e131dfb;

  --primary-color: #f47ecc;
  --secondary-color: #974cff;

 --inverted-primary-color: #ff43aa;
  --inverted-secondary-color:  #a3d6ff;
}